*{
    box-sizing:border-box;
  }
  body{
    font-family: 'Oswald', sans-serif;
    padding:0;
    margin:0;
  }
  .btn_container{
    display:grid;
    gap:1rem;
    @media screen and (min-width:25em){
      
    grid-template-columns:repeat(3,1fr);
    }
    // justify-content:space-around;
    // align-items:center;
    min-height:100vh;
    .btn_div{
      display:grid;
      place-content:center;
      .btn{
      color:white;
      border:none;
      background-image: linear-gradient(to right bottom, #aa36de, #ff0091, #ff583a, #fcad00, #a8eb12);
      padding:1rem 2rem;
      // outline:2px solid black;
      border-radius:.25em;
        cursor:pointer;
    }
      .btn_1{
       
        position:relative;
        z-index:1;
        &::after{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:rgba(0,0,0,.3);
          z-index:-1;
           transition:transform ease 250ms;
          transform:scaleX(0);
            transform-origin:right;
        }
        &:hover{
          &::after{
            transform-origin:left;
            transform:scaleX(1);
          }
        }
      }
      
      .btn_2{
       
        position:relative;
        z-index:1;
        &::after{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:rgba(0,0,0,.3);
          z-index:-1;
           transition:transform ease 250ms;
          transform:scaleY(0);
            transform-origin:bottom;
        }
        &:hover{
          &::after{
            transform-origin:top;
            transform:scaleY(1);
          }
        }
      }
      .btn_3{
       
        position:relative;
        z-index:1;
        &::after{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:rgba(0,0,0,.3);
          z-index:-1;
           transition:transform ease 250ms;
          transform:scale(0);
            transform-origin:top right;
        }
        &:hover{
          &::after{
            transform-origin:bottom left;
            transform:scale(1);
          }
        }
      }
      
      
      .btn_4{
        outline:none;
        -webkit-background-clip:text;
        color:transparent;
        font-size:1.4rem;
        font-weight:900;
        position:relative;
        &::after{
          content:'';
          position:absolute;
          background-image: linear-gradient(to right top, #aa36de, #ff0091, #ff583a, #fcad00, #a8eb12);
          width:100%;
          height:2px;
          bottom:0;
          left:0;
          transition:transform 250ms ease-in;
          transform:scaleX(0);
          transform-origin:right;
        }
        &:hover{
          &::after{
            transform:scaleX(1);
            transform-origin:left;
            
          }
        }
      }
      .btn_5{
        outline:none;
        -webkit-background-clip:text;
        color:transparent;
        font-size:1.4rem;
        font-weight:900;
        position:relative;
        // z-index:1;
        &::after{
          content:'';
          position:absolute;
          background-image: linear-gradient(to right top, #aa36de, #ff0091, #ff583a, #fcad00, #a8eb12);
          width:100%;
          height:2px;
          top:0;
          left:0;
          transition:transform 250ms ease-in;
        }
        &::before{
          content:'';
          position:absolute;
          background-color:rgba(0,0,0,.2);
          width:100%;
          height:100%;
          top:0;
          left:0;
          transition:transform 250ms ease-in;
          transform:scaleY(0);
          transform-origin:top;
          z-index:-1;
          border-radius:.25em;
        }
        &:hover{
          // color:orange;
          &::before{
            transform:scale(1);
            
          }
        }
      }
      .btn_6{
        outline:none;
        -webkit-background-clip:text;
        color:transparent;
        font-size:1.4rem;
        font-weight:900;
        position:relative;
        // z-index:1;
        &::after{
          content:'';
          position:absolute;
          background-image: linear-gradient(to right top, #aa36de, #ff0091, #ff583a, #fcad00, #a8eb12);
          width:2px;
          height:100%;
          top:0;
          left:0;
          transition:transform 250ms ease-in;
        }
        &::before{
          content:'';
          position:absolute;
          background-color:rgba(0,0,0,.2);
          width:100%;
          height:100%;
          top:0;
          left:0;
          transition:transform 250ms ease-in;
          transform:scaleX(0);
          transform-origin:left;
          z-index:-1;
          border-radius:.25em;
        }
        &:hover{
          // color:orange;
          &::before{
            transform:scaleX(1);
            
          }
        }
      }
      .btn_7{
        outline:none;
        border:2px solid purple; 
        border-radius:0;
        outline:2px solid purple;
        outline-offset:-2px;
        transition:outline-offset 250ms ease-in,outline-color 0ms 100ms;
        &:hover{
          outline-offset:4px;
          outline-color:#fcad00;
        }
      }
      .btn_8{
        outline:none;
        border:2px solid purple; 
        border-radius:0;
        outline:2px solid purple;
        outline-offset:-2px;
        transition:outline-offset 250ms ease-in,outline-color 0ms 100ms;
        &:hover{
          outline-color:#A8EB12;
          outline-offset:-8px;
        }
      }
      .btn_9{
        outline:none;
        border:2px solid purple; 
        border-radius:0;
        outline:2px solid purple;
        outline-offset:-2px;
        transition:outline-width 250ms ease-in;
        &:hover{
          outline-width:6px;
          outline-offset:-8px;
            outline-color:#fcad00;
        }
      }
      .btn_10{
        transition:transform 250ms ease-in;
        &:hover{
          transform:translateY(-.5em)
        }
      }
      .btn_11{
        transition:transform 250ms ease-in;
        &:hover{
          transform:translateX(-.5em)
        }
      }
      .btn_12{
          transition:transform 250ms ease-in;
        &:hover{
          transform:scale(1.2);
        }
      }
      
    
    }
  }